.main-container {
  max-width: 100dvw;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  .partner-application-container {
    max-width: 80%;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 10px;
    background: url("/public/images/agentbg.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    padding: 40px 0;
    position: relative;

    .logo {
      margin-top: 40px;
      margin-bottom: 0;

      img {
        height: 120px;
      }
    }
    h2 {
      margin: 0;
      font-size: 27px;
      color: rgba(0, 0, 117, 0.781);
    }

    .stepper {
      display: flex;
      justify-content: space-between;
      width: 80%;
      margin: 40px 0;
    }

    .step {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 6px;
      color: #9aa4c7;
      font-size: 14px;
    }

    .circle {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      border: 2px solid #9aa4c7;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      background: #9aa4c7;
      color: #fff;
    }

    .step.active {
      color: #000075;
    }

    .step.active .circle {
      border-color: #000075;
      background: #000075;
      color: #fff;
    }

    .step.completed .circle {
      background: #000075;
      border-color: #000075;
      color: #fff;
    }

    form {
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      //   border: 1px solid red;

      .form-step {
        box-sizing: border-box;
        width: 100%;
        // border: 1px solid red;

        // Step 1
        .form-name {
          width: 100%;
          text-align: start;
          margin-bottom: 40px;

          label {
            color: rgba(0, 0, 117, 2.781);
            font-weight: 400;

            span {
              color: red;
            }
          }

          .form-row-items {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .form-input-info {
              display: flex;
              flex-direction: column;
              width: 49%;
              gap: 5px;
              color: rgba(0, 0, 117, 2.781);

              label {
                font-weight: 400;
              }

              input {
                background-color: #fff;
                padding: 10px;
                border: 1px solid rgb(128, 148, 201);
                outline: none;
              }
            }
          }
        }

        // Step 2
        .form-input-comm-container {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 40px;
          text-align: start;

          .form-input-comm {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 5px;

            label {
              color: rgba(0, 0, 117, 2.781);
              font-weight: 400;

              span {
                color: red;
              }
            }
            input {
              padding: 10px;
              border: 1px solid rgb(128, 148, 201);
              outline: none;
              background-color: #fff;
              color: rgb(0, 0, 117, 2.781);
            }

            input::-webkit-inner-spin-button {
              -webkit-appearance: none;
            }
          }
        }

        .next-btn {
          margin: 40px auto;
          display: flex;
          justify-content: center;
          gap: 20px;

          button {
            color: #fff;
            background-color: #222;
            padding: 10px 30px;
            border-radius: 50px;
            cursor: pointer;
          }
        }

        // Step 3
        .form-input-op {
          width: 100%;
          position: relative;
          display: flex;
          flex-direction: column;
          gap: 5px;
          text-align: start;
          // border: 1px solid red;

          label {
            color: rgba(0, 0, 117, 2.781);
            font-weight: 400;

            span {
              color: red;
            }
          }

          .operation-row {
            display: flex;
            background-color: #fff;
            align-items: center;
            gap: 5px;
            margin-bottom: 20px;
            font-weight: 400;
            padding: 10px;
            border: 1px solid rgb(128, 148, 201);
            transition:
              box-shadow 0.3s ease,
              transform 0.3s ease;
            cursor: pointer;
            // border: 1px solid red;

            label {
              font-weight: 400;
              color: rgba(0, 0, 117, 2.781);

              span {
                color: red;
              }
            }
          }
          .operation-row:hover {
            background-color: #f8f8f8;
            box-shadow: 0 2px 4px rgb(128, 148, 201);
          }

          .conditional-input {
            display: flex;
            flex-direction: column;
            gap: 5px;
            // border: 1px solid red;

            label {
              color: rgba(0, 0, 117, 2.781);
              font-weight: 400;
            }
            input {
              background-color: #fff;
              padding: 10px;
              border: 1px solid rgb(128, 148, 201);
              outline: none;
            }
            input[type="number"]::-webkit-inner-spin-button {
              appearance: none;
              -webkit-appearance: none;
            }
          }
        }
        // Step 4
        .form-input-experience {
          width: 100%;
          text-align: start;
          display: flex;
          flex-direction: column;
          gap: 30px;
          // border: 1px solid red;

          .input-experience {
            display: flex;
            flex-direction: column;
            gap: 5px;

            label {
              color: rgba(0, 0, 117, 2.781);
              font-weight: 400;
            }
            select {
              color: rgba(0, 0, 117, 2.781);
              background-color: #fff;
              padding: 10px;
              outline: none;
              font-weight: 400;
              border: 1px solid rgb(128, 148, 201);
              cursor: pointer;
            }
            select:hover {
              background-color: #f8f8f8;
              box-shadow: 0 2px 4px rgb(128, 148, 201);
            }
          }

          .method {
            width: 100%;
            color: rgba(0, 0, 117, 2.781);
            display: flex;
            flex-direction: column;
            gap: 5px;

            label {
              font-weight: 400;

              span {
                color: red;
              }
            }

            select {
              background-color: #fff;
              outline: none;
              padding: 10px;
              border: 1px solid rgb(128, 148, 201);
              transition:
                box-shadow 0.3s ease,
                transform 0.3s ease;
              cursor: pointer;
            }
            select:hover {
              background-color: #f8f8f8;
              box-shadow: 0 2px 4px rgb(128, 148, 201);
            }
          }

          .year-of-experience {
            display: flex;
            flex-direction: column;
            color: rgba(0, 0, 117, 2.781);
            gap: 5px;
            padding: 10px;
            font-weight: 400;

            label {
              font-weight: 400;

              span {
                color: red;
              }
            }

            .experience-row-container {
              width: 100;
              display: flex;
              flex-direction: column;
              gap: 20px;

              .year-of-experience-row {
                display: flex;
                background-color: #fff;
                align-items: center;
                gap: 5px;
                // margin-bottom: 20px;
                font-weight: 400;
                padding: 10px;
                border: 1px solid rgb(128, 148, 201);
                transition:
                  box-shadow 0.3s ease,
                  transform 0.3s ease;
                cursor: pointer;
              }
              .year-of-experience-row:hover {
                background-color: #f8f8f8;
                box-shadow: 0 2px 4px rgb(128, 148, 201);
              }
            }
          }
        }

        #submit-btn {
          background-color: rgba(0, 0, 117, 2.781);
          transition: 1s ease;
        }
        #submit-btn:hover {
          background-color: rgba(58, 58, 209, 0.781);
        }

        #error {
          font-weight: 500;
          color: rgb(163, 23, 23);
        }
      }
    }
  }
}
