.outer-con{
    position: relative;
    height: 100vh;
    background: rgba(143, 143, 143, 0.226);
    
    z-index: 1001;
    clip-path: polygon(
    0 0,
    100% 0,
    100% 80%,
    30% 90%,
    0 83%
    );

    .hero-container{
        position: relative;
        height: 90vh;
        background: linear-gradient(to bottom,rgba(0, 0, 0, 0.377), rgba(150, 150, 150, 0.288)), url("/images/hero.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        overflow: hidden;
        z-index: 1;

        clip-path: polygon(
        0 0,
        100% 0,
        100% 85%,
        30% 100%,
        0 90%
        );

        h1{
            font-size: 96px;
            font-weight: 700;
            word-spacing: 20px;
            letter-spacing: 0.25rem;
            text-transform: uppercase;
            color: transparent;
            -webkit-text-stroke: 2px #0a4aaac5;
            text-shadow:
                0 0 8px rgba(30, 94, 191, 0.178);
            // z-index: -1;
           
        }

        .hero-contents{
            max-width: 80%;
            transition: transform 0.25s ease-in-out;
            margin: auto;
           border-radius: 15px;
            height: auto;
            text-align: left;
            padding: 1% 5%;
            justify-content: space-evenly;

            p{
                color: #0a4aaae5;
                font-family: montserrat-Medium;
                letter-spacing: 0.2rem;
                word-spacing: 0.25rem;
                position: relative;
                display: flex;
                margin: auto;
                font-size: 1.25rem;


                .divider{
                    margin: auto 0;
                    width: 22px;
                    margin-right: 5px;
                }

            }

            h3{
                color: white;
                font-size: 3.1rem;
                margin-top: 22px;
                margin-bottom: 22px;
                letter-spacing: 0.25rem;
                
            }
            h2{
                color: white;
                font-size: 5rem;
                font-family: clash-display-Bold;
                letter-spacing: 0.25rem;
                margin-bottom: 22px;
             
            }

            button{
                position: relative;
                width: auto;
                margin-top: 22px;
                margin-bottom: 22px;
                .btn-link{
                    display: flex;
                    gap: 2;
                    width: auto;
                    font-size: 1.35rem;
                    color: #0a4aaad8;
                    word-spacing: 0.25rem;
                    font-family: clash-display-semibold;
                
                    .arrow-right{
                        margin: auto 10px;
                    }
                }


            }
            button:after{
                content: "";
                position: absolute;
                left: 0;
                bottom: -3px;
                width: 100%;
                height: 4px;
                background: #0a4aaad8;
                transform: scaleX(0);
                transform-origin: right-left;
                transition: transform 0.3s ease;
            }
            button:hover:after{
                transform: scaleX(1);
                transform-origin: left-right;
            }

            .mobile-btn{
                display: none;
            }
   
        }
        
        .hero-contents:hover{
            transform: translateY(2px);
            background-color: #ffffff34;
            border: 1px solid rgba(167, 142, 3, 0.863);
        }
    

    }
}

// Mobile Media Query
@media screen and (max-width: 770px) {
    .outer-con{
        height: 90vh;
        .hero-container{
            height: 81vh;
           width: 100dvw;

            h1{
                display: none;
            }
            .hero-contents{
                
                min-height: 412px;
                margin: 5% auto;
                min-width: 90%;
                padding-top: 20px;
                overflow: hidden;

               p{
                font-size: 1rem;
                .divider{
                    display: none;
                }
               }

                h3{
                    font-size: 2.1rem;
                    line-height: 1.2;
                }

                h2{
                    font-size: 3.6rem;
                    text-wrap: wrap;
                    flex-shrink: 2;
                }
                button{
                    display: none;
                }
                .mobile-btn{
                    display: flex;
                    width: 80%;
                    min-height: 55px;
                    padding:10px 22px;
                    margin-top: 35%;
                    background-color: #0a4aaad8;
                    
                    .btn-link{
                        color: white;
                        font-size: 1.1rem;
                        text-align: center;
                        margin: auto;
                    }
                    
                }

            }
        }
    }
    
}

