@import "tailwindcss";

@font-face {
  font-family: aisyah-demo;
  src: url('/Aisyah-Demo.otf');
}
@font-face {
  font-family: clash-display-bold;
  src: url('/ClashDisplay-Bold.otf');
}
@font-face {
  font-family: clash-display-semibold;
  src: url('/ClashDisplay-Semibold.otf');
}
@font-face {
  font-family: clash-display-medium;
  src: url('/ClashDisplay-Medium.otf');
}
@font-face {
  font-family: clash-display-light;
  src: url('/ClashDisplay-Light.otf');
}
@font-face {
  font-family: Clash Grotesk;
  src: url('/ClashGrotesk-Semibold.otf');
}
@font-face {
  font-family: montserrat-light;
  src: url('/Montserrat-Light.ttf');
}
@font-face {
  font-family: montserrat-semibold;
  src: url('/Montserrat-SemiBold.ttf');
}
@font-face {
  font-family: montserrat-medium;
  src: url('/Montserrat-Medium.ttf');
}
@font-face {
  font-family: montserrat-extrabold;
  src: url('/Montserrat-ExtraBold.ttf');
}
@font-face {
  font-family: bricolage-grotesgue-semibold;
  src: url('/BricolageGrotesque-SemiBold.ttf');
}



:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
}

.main-container{
  max-width: 100vw;
  margin: 0;
  padding: 0;

}
.contents-container{
  max-width: 1200px;
  margin: 0 auto;
}
ul li{
 list-style-type: none;
}
a{
  text-decoration: none;
}
h1{
  font-size: 2.6rem;
  font-weight: 700;
  font-family:clash-display-bold ;
}
h2{
  font-size: 2.0rem;
  font-family: clash-display-semibold;
  font-weight: 500;
}
h3{
  font-size: 1.8rem;
  font-family: clash-display-semibold;
  font-weight: 500;
}
p{
  font-size: 1.4rem;
  font-family: montserrat-light;
}




